.footer {
  border-top: solid 2px var(--cor1);
  width: 100vw;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 20px;
}

.footer > h2 {
  margin-bottom: 100px;
}

.footer > div {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 80px;
  width: 73px;
  transition: transform 0.2s ease-in-out;
}

.footer > div > div:hover {
  transform: scale(1.2);
}
