@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --background-color: #212121;
  --cor1: #74fac0;
}

.reveal {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateX(0);
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

body {
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  color: white;
  padding: 0;
  margin: 0;

  font-family: 'Space Grotesk', sans-serif;
  color: #d4d4d4;
}

h2 {
  font-size: 2rem;
  color: var(--cor1);
  text-align: center;
}

a {
  text-decoration: none;
}

strong {
  color: black;
}
