@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.header {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20 0;
  margin-bottom: 180px;
}

.header > h1 {
  font-family: 'Ephesis', cursive;
  font-size: 5rem;
  color: var(--cor1);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  background: linear-gradient(to left, #d4d4d4 50%, var(--cor1) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: background-position 0.4s ease-in-out;
}

.nav > a:hover {
  background-position: 0;
}

.section {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 300px;
}

.section > div > h1 {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 60px;
}

.section > div > p {
  font-size: 1.5rem;
}

.section > div > h2 {
  font-size: 2rem;
  color: var(--cor1);
  text-align: left;
}

.avatar {
  display: flex;
  justify-content: center;
}

.buttonCv {
  background-color: var(--cor1);
  color: rgb(49, 49, 49);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-top: 60px;
  font-weight: bold;
  cursor: pointer;
}

.buttonCv:hover {
  background-color: #49b888;
}

.section2 {
  width: 80vw;
  margin: auto;
  margin-bottom: 300px;
}

.section2 > h2 {
  margin-bottom: 20px;
}

.section2 > p {
  font-size: 1.5rem;
}
